:root {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.navtext {
  color: #2e2f42;
}

.list,
.header-menu {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu,
.link:hover {
  color: #404bbf;
}

.header-menu,
.link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.address-menu {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: #434455;
}
