:root {
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*.navlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}*/
/*header */
.navlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navtext {
  color: #2e2f42;
}

.link {
  color: #4d5ae5;
  text-decoration: none;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list .link:hover {
  color: #404bbf;
}

.list .link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: #434455;
}

.first {
  background-color: #2e2f42;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:focus {
  color: #404bbf;
  background-color: #4d5ae5;
}
